
@{
    ViewBag.Title = "Contact";
}

<h2>Contact us</h2>
<h2 padding: 15px>Contact us</h2>
<p>Phone: 09-638 7780</p>
<p>Address: 184-196 Dominion Rd, Mount Eden 1024</p>
<img src="https://www.artful.ly/assets/pages/open.png" alt="Opening Hours" style="width:210px;height:180px;">
<p>
    Tuesday	11:00 AM – 9:00 PM<br>
    Wednesday	11:00 AM – 9:30 PM<br />
    Thursday	11:00 AM – 9:30 PM<br />
    Friday	11:00 AM – 10:00 PM<br />
    Saturday	11:00 AM – 10:00 PM<br />
    Sunday	11:00 AM – 10:00 PM<br />
    Monday	11:00 AM – 9:00 PM
</p>

