@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nandoso Restaurant</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Nandoso Restaurant</h2>
        <p>
            Nandoso is famous for its legendary butterfly-cut, flame-grilled PERi-PERi chicken.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Firing up New Zealand</h2>
        <p>The Nando’s cockerel landed on the fair shores of Aotearoa in December 2000 and 
        New Zealand discovered a new flavour sensation for a new millennium. 
        It didn't take long for the word to get around or for the people of Auckland 
        to get addicted to spicing things up with a fix of flame-grilled PERi-PERi chicken.
         Not surprisingly really - Kiwis have always had a passion for great natural produce 
        and big bold flavours.
        Thanks to their passion for PERi-PERi, Nando's spread north and south, and today,
         there are more than thirty Nando's restaurants serving succulent flame-grilled PERi-PERi 
        chicken with Afro-Portuguese inspired side dishes. Come try some!
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>Contact us</h2>
        <p>Phone: 09-638 7780</p>
        <p>Address: 184-196 Dominion Rd, Mount Eden 1024</p>
    </div>
</div>