
@{
    ViewBag.Title = "Index";
}

@*<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
    </fb:login-button>

    <div id="status">
    </div>*@

<h2 class="page-header">Today's special</h2>
<ul id="results"></ul>

@section scripts{

    <script type="text/javascript">
        $(function() {
            // Get the JSON from the API
            $.getJSON('api/MySpecials', function (getSpecials) {
                // For each special, append it to the Results list
                $(getSpecials).each(function(i, specialItem) {
                    $('#results').append('<li>' + specialItem.Dishname + ' - $' + specialItem.Price + '</li>');
                });
            });
        });

    </script>
}