
@{
    ViewBag.Title = "Feedback";
}
<h2>Feedback</h2>
<div>
    <form  method="post">
        <p/>
            First name:<br/>
        <p/>
            <input type="text" name="firstname">
            <br/>
        <p/>
            Last name:<br/>

        <p />
            <input type="text" name="lastname">
        <p />

           Email:<br/>
        <input type="email" name="email">
        <p />
            Feedback:<br/>
        <p />
            <input type="text" name="feedback">
        <br />
    
        <input type="submit" name="submit">
    </form>
</div>