
@{
    ViewBag.Title = "Reply";
}

<h2 class="page-header">Thanks for your feedback!</h2>
<div>
<p>Your first name is : @ViewBag.FirstName</p>
<p>Your last name is @ViewBag.LastName</p>
<p>Your email is @ViewBag.Email</p>
<p>Your comment is @ViewBag.Feedback</p>
</div>

